$loaderBackground: #716AFC;
$loaderColor: #ffffff;
$panelBackground: #716AFC;
$panelColor: #ffffff;
$buttonBackground: #ffffff;
$buttonColor: #716AFC;

:export {
  loaderBackground: $loaderBackground;
  loaderColor: $loaderColor;
  panelBackground: $panelBackground;
  panelColor: $panelColor;
  buttonBackground:$buttonBackground;
  buttonColor:$buttonColor
}